dist/
node_modules/
backend/src/static/
backend/src/web/static/*
!backend/src/web/static/.keep
.DS_Store
backend/tmp/
.devcontainer/.env
.env
config/
!backend/src/config/
.env.example
backend/src/coverage*.out
backend/src/srat-cli
backend/src/srat-server
backend/src/srat-openapi
backend/src/repository/dao/gen_test.db
docs/TEST_COVERAGE.md.bak
