name: 'Stale'
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10.2.0
        with:
          stale-issue-message: >
            This issue has been automatically marked as stale because it has not had recent activity.
            It will be closed if no further activity occurs.
            Thank you for your contributions.
          stale-issue-label: 'stale'
          exempt-issue-labels: 'pinned,security'
          days-before-stale: 60
          days-before-close: 7
          days-before-pr-close: -1
      - uses: jay2610/delete-older-releases@03d04cd873c370cb43c2c440818c73cb138c54aa # 1.4.0
        with:
          keep_latest: 3
          delete_tags: true
          delete_tag_pattern: dev # defaults to ""
          delete_type: 'prerelease'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
